<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-xs ">
    <form [formGroup]="registerForm" (ngSubmit)="Connexion()" 
    class="bg-yellow-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700-md  px-8 pt-6 pb-8 mb-4">

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="identifier">
          Identifiant
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="identifier" type="text" formControlName="identifier">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Mot de passe
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password" type="password" formControlName="password">
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-gradient-to-r from-indigo-600 to-pink-500 text-white font-bold py-2 px-4 border rounded hover:from-indigo-700 hover:to-pink-400"
          type="submit">
          Se connecter
        </button>
      </div>
      <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
      <br>
      <p class="text-gray-700 text-sm font-bold mb-2">
        <a routerLink="/inscription">Pas encore de compte ?</a>
      </p>

    </form>
  </div>
</div>